<ul class="list_article">
   <% if user_signed_in? %>
      <ul>
        <li><%= link_to '削除', "/#{blog.id}", method: :delete %></li>
      </ul>
    <% end %>
  <% @blogs.each do |blog| %>
  <li>
    <h2><%= blog.title %></h2>
    <% if blog.image != "" %>
      <p><img src="<%= blog.image %>"></p>
    <% end %>
    <p><%= blog.content %></p>
    <p><%= blog.created_at %></p>
  </li>
  <% end %>
</ul>