<!DOCTYPE html>
<html>
  <head>
    <title>Blog2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
  <p class="name">ユーザー：<%= current_user.nickname %>さん</p>
  <ul class="nav">
    <li><a href="/new">新規投稿</a></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
  <% else %>
  <ul class="nav">
    <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
    <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
  </ul>
      <% end %>

    <%= yield %>
  </body>
</html>
